<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fz5"></activity>
        <activity android:name=".yamaha" />
        <activity android:name=".passion" />
        <activity android:name=".pulsur" />
        <activity android:name=".mercedes" />
        <activity android:name=".hyundai" />
        <activity android:name=".audi" />
        <activity android:name=".bmw" />
        <activity android:name=".bike" />
        <activity android:name=".car" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>